*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
 position: relative;
 width: 300px;
 height: 300px;
 transform-style: preserve-3d;
 animation: anim 4s linear infinite;
 
}
.container div{
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
}
.container div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#13ce41, rgba(8, 68, 33, 0)) ;
    transform: rotateY(calc(90deg * var(--i)))translateZ(150px);
}
.top{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transform: rotateX(90deg)translateZ(150px);
}
@keyframes anim{
    from{
        transform: rotateX(-30deg)rotateY(0deg);
    }
    to{
        transform: rotateX(-30deg)rotateY(360deg);
    }
}